<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="InvoiceSettings" type="Invoices.Importer.CustomConfig.Section, Invoices.Importer" />
  </configSections>
  <InvoiceSettings>
    <InvoiceSection Name="ArtiOfic" SheetName="Sheet1" TemplateFile="C:\orlando\NET_TESTING\excel\csvtoexcel\Template\TemplateArtiOfic.xlsx" PathSaveInvoices="C:\orlando\NET_TESTING\excel\csvtoexcel\SaveInvoices\" DefaultPathXml="C:\orlando\NET_TESTING\excel\csvtoexcel\DataXml" DefaultNameToSave="InvArtiOfic" TagHeader="TagH" TagDetails="Array" TagFooter="TagF" />
  </InvoiceSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>