<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WithPercentage" value="0.0"/>
    <add key="HightPercentage" value="0.0"/>  
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>